<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2022 Vue 直播班 - Week2 登入 - WeiJ</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.16/dist/sweetalert2.min.css">
  </head>
  <body>
    <div id="app">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">進行登入</p>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      v-model="userInput.username"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password">密碼</label>
                    <input
                      type="password"
                      id="password"
                      v-model="userInput.password"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <button
                    class="btn btn-outline-light btn-lg mt-4 px-5"
                    type="button"
                    @click="doLogin"
                  >
                    登入
                    <span
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                      aria-hidden="true"
                      v-show="isLoading"
                    ></span>
                    <span class="visually-hidden">Loading...</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
      import { login } from "../helper/api.js";
      import { setToken } from "../helper/user.js";
      import { showError } from "../helper/notify.js";

      createApp({
        data() {
          return {
            isLoading: false,
            userInput: {
              username: "",
              password: "",
            },
          };
        },
        methods: {
          doLogin() {
            const vm = this;
            vm.isLoading = true;

            if (!vm.userInput.username || !vm.userInput.password) {
              vm.isLoading = false;
              showError("請完整輸入 email 及密碼");
              return;
            }

            login(vm.userInput.username, vm.userInput.password)
              .then((res) => {
                const { token, expired } = res.data;
                setToken(token, expired);
                location.href = "products.html";
              })
              .catch((err) => {
                vm.isLoading = false;
                showError(err.message);
              });
          },
        }
      }).mount("#app");
    </script>
  </body>
</html>
